<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dotnet_sql_wpf.My.MySettings.tmdevdbConnectionString"
            connectionString="Data Source=.;Initial Catalog=tmdevdb;Persist Security Info=True;User ID=sa;Password=TMPassword2003!"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>